p::first-line {
    color: brown;
    font-size: 5rem;
}

h1::first-letter {
    color: blue;
    
}

li {
    list-style: none;
}

li::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(./images/circle_blue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

p::selection {
    background-color: aqua;
    color: blueviolet;
}